.App {
  text-align: center;
}

.brand-name{
  font-family: 'Dancing Script', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
}

.banner{
  background-image: url(./bg-event.jpg);
  margin-top: 55px;
  height: 80vh;
  opacity: 0.85;
}